<li id="tweet-<%= tweet.id %>">
  <div class="card bg-dark text-white">
    <% if tweet.image.attached? %>
      <%= image_tag tweet.image.variant(resize:'100x100').processed %>
    <% end %>
    <div class="card-img-overlay">
      <% if current_user?(tweet.user) %>
        <%= link_to "delete", tweet, method: :delete, data: { confirm: "You sure ?" } %>
      <% end %>
      <h5 class="card-title"><%= tweet.content %></h5>
      <p class="card-text"><%= tweet.user.name %></p>
      <%= render 'emo_form', tweet: tweet %>
      <p class="card-text"><%= time_ago_in_words(tweet.created_at) %> ago </p>
    </div>
  </div>
</li>
