<main>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 mt-2">
          <div class="col-md-10 offset-md-1 media">
            <%= image_tag(@user.image, :class => "rounded-circle") %>
            <div class="col-md-8 offset-md-1 my-auto profile-name">
              @<%= @user.name %>
            </div>
            <div class="col-md-3 my-auto">
              <%= link_to 'twitterã¸', @user.url, class: "btn btn-info" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 my-3 text-center total-emo">
          Total emo: <%= @user.tweets.sum(:emotions_count) %>
        </div>
      </div>
    </div>
  </header>
  <div class="tweet-index">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 mt-2">
          <div class="col-md-10 offset-md-1">
            <ul class="nav nav-pills nav-justified text-center profile-tab" role="tablist">
              <li class="col-md-6 nav-item" role="presentation">
                <a class="nav-link active" href="#tweet_index" aria-controls="tweet_index" data-toggle="tab" role="tab">Profile Post(<%= @user.tweets.count %>)</a>
              </li>
              <li class="col-md-6 nav-item" role="presentation">
                <a class="nav-link" href="#emo_index" aria-controls="emo_index" data-toggle="tab" role="tab">Emo Post(<%= @user.emo_tweets.count %>)</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 mt-2">
          <div class="col-md-10 offset-md-1">
            <div id="profile_index">
              <div class="tab-content">
                <div class="tab-pane active" id="tweet_index" role="tabpanel">
                  <div id="tweets">
                    <% if @user.tweets.any? %>
                      <%= render @tweets %>
                    <% end %>
                  </div>
                  <div class="page-load-status">
                    <div class="infinite-scroll-request">
                      Loading...
                      <%= paginate @tweets %>
                    </div>
                    <p class="infinite-scroll-last">End of content</p>
                    <p class="infinite-scroll-error">No more pages to load</p>
                  </div>
                </div>
                <div class="tab-pane" id="emo_index" role="tabpanel">
                  <div id="tweets">
                    <% if @user.emo_tweets.any? %>
                      <% @emo_tweets.each do |tweet| %>
                        <%= render '/tweets/tweet', tweet: tweet %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="page-load-status">
                    <div class="infinite-scroll-request">
                      Loading...
                      <%= paginate @emo_tweets %>
                    </div>
                    <p class="infinite-scroll-last">End of content</p>
                    <p class="infinite-scroll-error">No more pages to load</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
