<!DOCTYPE html>
<html>
  <head>
    <title>Emo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if logged_in? %>
      <header class="nav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light text-center fixed-top">
          <div class="col-md-9 offset-md-2">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="col-md-4">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item mx-3">
                    <%= link_to 'Home', tweets_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item mx-3">
                    <%= link_to 'Emotion', emotions_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item mx-3">
                    <%= link_to 'Ranking', rankings_path, class: "nav-link" %>
                  </li>
                </ul>
              </div>
              <div class="col-md-2">
                <a class="navbar-brand" href="#">Emotch</a>
              </div>
              <div class="col-md-4 offset-md-1">
                <%= search_form_for @q, url: tweets_path, class: "form-inline my-2 my-lg-0" do |f| %>
                  <%= f.search_field :content_or_user_name_cont, class:"mr-sm-1 form-control" %>
                  <%= f.submit :class => "btn btn-outline-success" %>
                <% end %>
              </div>
              <div class="col-md-1">
                <%= link_to user_path(current_user), method: :get, class:"nav-link" do %>
                  <%= image_tag(current_user.image, size: "32x32", class: "rounded-circle") %>
                <% end %>
              </div>
              <%= link_to 'Logout', '/signout', class:"btn btn-outline-info" %>
            </div>
          </div>
        </nav>
      </header>
    <% end %>
    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
